*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
html,
body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}
.parent{
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
}
.card{
  padding: 30px;
  width: 300px;
  border: solid white;
  border-radius: 10px;
  background-color: #333;
  text-align: center;
}

.card p{
  padding: 20px;
}
.card h1{
  color: rgb(8, 2, 33);
}
.card img{
  height: 100px;
  border-radius: 10px;
}
.card button{
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}
.card button:hover{
  scale: 1.2;
  transition: .7s;
}
.card img:hover{
  scale: 1.2;
  transition: .7s;
  border-radius: 40%;
}