.h{
  background-color: lightseagreen;
  padding: 5vh;
  display: flex;
  justify-content: space-between;
  font-size: 3vh;
  color: rgb(55, 54, 56);
  font-weight:500
}
.btn{
  background-color: #bababa;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
.btn:hover{
  transition: .3s;
  background-color: white;
  color: black;
  scale: 1.02;
}